<!DOCTYPE html>
<html ng-app="taskRunner">
<head>
  <meta charset="utf-8">
  <title>Task Runner</title>

  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">

  <script src="web/task-runner.js"></script>
  <link rel="stylesheet" href="web/task-runner.css">

</head>
<body>
<div class="container">
  <div class="page-header">
    <h3>SQL Task Runner</h3>
  </div>
  <div ng-controller="testCtrl">
    <div>
      <h4>Select Task</h4>
      <select ng-model="selected" class="form-control">
        <option ng-repeat="task in tasks" value="{{task.id}}">
          {{task.id}}: {{task.title}}
        </option>
      </select>
    </div>
    <hr>

    <div>
      <div class="section">
        <h4>Description</h4>
        <div ng-bind-html="currentTask.description"></div>
      </div>
      <div id="tables" class="section" ng-hide="currentTask.id == 'all'">
        <h4>Sample Tables</h4>
        <ul class="nav nav-tabs">
          <li ng-repeat="table in currentTask.tables" ng-class="selectedTable == $index ? 'active' : ''">
            <a href="#" ng-click="setTable($index)">{{table.name}}</a>
          </li>
        </ul>
        <div ng-hide="selectedTable == -1">
          <h5>Table {{selectedTable + 1}}: {{currentTable.name}}</h5>
          <pre>{{currentTable.content}}</pre>
        </div>
      </div>
      <div class="section" ng-hide="currentTask.id == 'all'">
        <h4>Expected Sample Answer</h4>
        <pre>{{currentTask.answer}}</pre>
      </div>
    </div>
    <hr>
    <div ng-hide="currentTask.id == 'all'">
      <h4>Paste Source</h4>
      <textarea class="form-control" ng-model="source"></textarea>
    </div>
    <div id="file-section" ng-show="currentTask.id == 'all'">
      <span id="file-display" class="form-control">{{fileName}}</span>
      <button id="btn-file" class="btn btn-default" ng-click="fileSelect()">Choose File</button>
      <input id="file-select" type="file" accept=".zip"/>
    </div>
    <hr>

    <button ng-show="selected != 'all'" class="btn btn-primary" ng-disabled="source === '' || running" ng-click="submit()">{{running ? 'Running...' : 'Test On Sample'}}</button>
    <button ng-show="selected == 'all'"  class="btn btn-primary" ng-disabled="fileName === '' || running" ng-click="submitAll()">{{running ? 'Running...' : 'Test All On Samples'}}</button>

    <div ng-hide="!error" class="alert alert-danger">{{error}}</div>
    <div class="section" ng-show="currentTask.id == 'all' && results.length && !running">
      <ul id="results" class="list-group">
        <a class="list-group-item result-item" ng-repeat="result in results" ng-click="showResult($index)">
          <i class="glyphicon" ng-class="result.correct ? 'glyphicon-ok correct' : 'glyphicon-remove incorrect'"></i>
          {{tasks[$index].id}}: {{tasks[$index].title}}
        </a>
      </ul>
      <b>{{correctCount}} / {{results.length}} Correct</b>
    </div>
    <div class="section" ng-show="!running && processed">
      <div>
        <h3 class="correct" ng-show="result.correct">Correct!</h3>
        <h3 class="incorrect" ng-show="!result.correct">Incorrect</h3>
        <div class="section" ng-show="result.error !== ''">
          <h4>Execution Error</h4>
          <pre>{{result.error}}</pre>
        </div>
        <div class="section" ng-show="result.output !== ''">
          <h4>Your Output</h4>
          <pre>{{result.output}}</pre>
        </div>
        <div class="section" ng-show="result.diff !== ''">
          <h4>Diff</h4>
          <pre>{{result.diff}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
